{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}

    {% if messages|length %}
        <table class="table">
            <tr>
                <th>number</th>
                <th>source</th>
                <th>time</th>
                <th>message</th>
            </tr>

            {% for message in messages %}
                <tr>
                    <td>{{ loop.index }}.</td>
                    <td>{{ message.source }}</td>
                    <td>{{ message.publishedAt ? message.publishedAt.format('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ message.content|nl2br }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No messages found.</p>
    {% endif %}
{% endblock %}
